In [1]:
# IMPORTS
from manufacturing_company.src.common.const import *
from manufacturing_company.src.features.employee_activity import *
import pandas as pd

In [8]:
# CALCULATE OVERTIME AND WORK AT WEEKEND
for i in range(1, SIZE + 1):
    df = pd.read_csv('manufacturing_company/data/intermediate/03_minimum_activity/' + str(i) + '_months_communication.csv', sep=';', parse_dates=[EVENT_DATE])
    df_overtime = calculate_overtime(df, from_hour=17, to_hour=5)
    df_weekend = calculate_work_at_weekend(df)
    df_merged = pd.merge(df_overtime, df_weekend, on=SENDER)
    df_network = pd.read_csv('manufacturing_company/data/intermediate/04_networks/' + str(i) + '_months_network.csv', sep=';')
    df_merged = pd.merge(df_network, df_merged, left_on=ID, right_on=SENDER)
    df_merged.to_csv('manufacturing_company/data/intermediate/'
                     '05_features/' + str(i) + '_months_features.csv', sep=';', index=False)

In [9]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>EventDate</th>
      <th>month</th>
      <th>overtime</th>
      <th>work_at_weekend</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>17</td>
      <td>37</td>
      <td>2010-01-02 17:40:10</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>136</td>
      <td>2010-01-02 17:40:10</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>17</td>
      <td>62</td>
      <td>2010-01-02 17:40:10</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>17</td>
      <td>129</td>
      <td>2010-01-02 17:40:10</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17</td>
      <td>32</td>
      <td>2010-01-02 17:40:10</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
x = df.groupby([SENDER, df[EVENT_DATE].dt.month])[RECIPIENT].unique()

In [26]:
df.groupby([RECIPIENT, df[EVENT_DATE].dt.month])[SENDER].unique().head()

Recipient  EventDate
2          1            [152, 45, 89, 103, 130, 95, 108]
           2                          [152, 117, 17, 62]
           3               [152, 108, 166, 112, 73, 132]
           4                             [164, 142, 107]
           5                                       [107]
Name: Sender, dtype: object

In [68]:
y = df[SENDER].unique()

In [50]:
y = pd.DataFrame(y, columns=['ID'])

In [71]:
y

array([ 17,  39, 112,  77,  33, 142, 117, 158, 150,  65,  91,  73,  66,
       162,  94, 143, 133,  47, 108, 146, 132,  44, 136, 166,  35, 116,
        19, 152,  81, 118, 147, 127, 137,  80,  64,  55, 105, 129, 135,
        62, 123,  69,  90,  97,  54,  30, 128,  32,  14,  86, 153, 113,
        36,  84, 121, 130,  58, 161, 110,  11,  83,   8, 107,  85, 103,
        41,  27,  60,  67, 102,  45, 163,  37, 126, 148,  57, 155,  13,
       119,  72,  89, 156, 140,  74, 145,  50,  82,  56, 151, 104,  92,
       165,  52,   3,  22,  61, 164, 101,  28, 144, 141, 124, 125,  98,
       157,  88, 134,  63,  96,  99, 122, 114,  70,   5,   9,  95,  78,
        18, 109, 154,  15, 149,  16,  42,  40,  34,  76,  68, 131])

In [60]:
selector = y[ID].isin(x.iloc[0])
selector.head()

0    False
1    False
2    False
3    False
4    False
Name: ID, dtype: bool

In [72]:
x.head().apply(lambda x: pd.Series(y).isin(x))

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>...</th>
      <th>119</th>
      <th>120</th>
      <th>121</th>
      <th>122</th>
      <th>123</th>
      <th>124</th>
      <th>125</th>
      <th>126</th>
      <th>127</th>
      <th>128</th>
    </tr>
    <tr>
      <th>Sender</th>
      <th>EventDate</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">3</th>
      <th>1</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>4</th>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>5</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 129 columns</p>
</div>

In [61]:
y.loc[selector, 'xxx'] = 1

In [76]:
d = pd.Series([1,2,3,4,5])

In [77]:
d[] = 100
d

SyntaxError: invalid syntax (<ipython-input-77-d9055e0c88fb>, line 1)