In [1]:
# IMPORTS
from manufacturing_company.src.data.import_data import *
from manufacturing_company.src.features.data_cleaning import *

In [2]:
# IMPORT DATA

In [3]:
communication = load_communication()
communication.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>EventDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>17</td>
      <td>37</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>136</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>17</td>
      <td>62</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>3</th>
      <td>17</td>
      <td>129</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17</td>
      <td>32</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
reportsto = load_reportsto()
reportsto.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>ReportsToID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>152</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>132</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>152</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>36</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
communication.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82927 entries, 0 to 82926
Data columns (total 3 columns):
Sender       82927 non-null int64
Recipient    82927 non-null int64
EventDate    82927 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 1.9 MB

In [6]:
reportsto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 2 columns):
ID             167 non-null int64
ReportsToID    167 non-null object
dtypes: int64(1), object(1)
memory usage: 2.7+ KB

In [7]:
reportsto[~reportsto[REPORTS_TO_ID].str.isnumeric()]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>ReportsToID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>45</th>
      <td>46</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>50</th>
      <td>51</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>74</th>
      <td>75</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>86</th>
      <td>87</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>92</th>
      <td>93</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>110</th>
      <td>111</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>138</th>
      <td>139</td>
      <td>former employee account</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
communication, reportsto = remove_former_employee_and_technical_accounts(communication, reportsto)

KeyError: 'the label [ReportsToID] is not in the [index]'