In [5]:
# IMPORTS
from manufacturing_company.src.data.import_data import *

In [9]:
# IMPORT DATA

In [10]:
communication = load_communication()
communication.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>EventDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>17</td>
      <td>37</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>136</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>17</td>
      <td>62</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>3</th>
      <td>17</td>
      <td>129</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17</td>
      <td>32</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
reportsto = load_reportsto()
reportsto.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>ReportsToID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>152</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>132</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>152</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>36</td>
    </tr>
  </tbody>
</table>
</div>