In [24]:
# IMPORTS
from manufacturing_company.src.common.const import *
from manufacturing_company.src.data.import_data import *
from manufacturing_company.src.features.data_cleaning import *

In [25]:
# IMPORT DATA

In [43]:
communication = load_communication()
communication.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>EventDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>17</td>
      <td>37</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>136</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>17</td>
      <td>62</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>3</th>
      <td>17</td>
      <td>129</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17</td>
      <td>32</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
  </tbody>
</table>
</div>

In [44]:
reportsto = load_reportsto()
reportsto.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>ReportsToID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>152</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>132</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>152</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>36</td>
    </tr>
  </tbody>
</table>
</div>

In [52]:
communication.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82677 entries, 0 to 82926
Data columns (total 3 columns):
Sender       82677 non-null int64
Recipient    82677 non-null int64
EventDate    82677 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 2.5 MB

In [53]:
reportsto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 166
Data columns (total 2 columns):
ID             153 non-null int64
ReportsToID    153 non-null int64
dtypes: int64(2)
memory usage: 3.6 KB

In [30]:
reportsto[~reportsto[REPORTS_TO_ID].str.isnumeric()]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>ReportsToID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>45</th>
      <td>46</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>50</th>
      <td>51</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>74</th>
      <td>75</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>86</th>
      <td>87</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>92</th>
      <td>93</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>110</th>
      <td>111</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>138</th>
      <td>139</td>
      <td>former employee account</td>
    </tr>
  </tbody>
</table>
</div>

In [48]:
communication, reportsto = remove_former_employee_and_technical_accounts(communication, reportsto)

/Users/mateusz/Documents/PyCharmProjects/organizational-structure-detection/manufacturing_company/src/features/data_cleaning.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  reportsto_processed[REPORTS_TO_ID] = pd.to_numeric(reportsto_processed[REPORTS_TO_ID])

In [51]:
communication[communication[SENDER] == communication[RECIPIENT]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>EventDate</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [50]:
communication, reportsto = remove_messges_sent_to_yourself(communication, reportsto)

In [56]:
communication[EVENT_DATE].value_counts().head()

2010-01-08 14:22:58    131
2010-01-13 09:51:43    131
2010-01-21 08:21:17    130
2010-01-29 15:20:38    128
2010-03-19 08:57:55    125
Name: EventDate, dtype: int64

In [66]:
len(communication[communication[EVENT_DATE] == '2010-03-19 08:57:55'][SENDER].unique())

1