In [13]:
# IMPORTS
from manufacturing_company.src.common.const import *
from manufacturing_company.src.data.import_data import *
from manufacturing_company.src.features.data_cleaning import *

In [14]:
# IMPORT DATA

In [15]:
communication = load_communication()
communication.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>EventDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>17</td>
      <td>37</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>136</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>17</td>
      <td>62</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>3</th>
      <td>17</td>
      <td>129</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17</td>
      <td>32</td>
      <td>2010-01-02 17:40:10</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
reportsto = load_reportsto()
reportsto.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>ReportsToID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>152</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>132</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>152</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>36</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
communication.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82927 entries, 0 to 82926
Data columns (total 3 columns):
Sender       82927 non-null int64
Recipient    82927 non-null int64
EventDate    82927 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 1.9 MB

In [18]:
reportsto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 2 columns):
ID             167 non-null int64
ReportsToID    167 non-null object
dtypes: int64(1), object(1)
memory usage: 2.7+ KB

In [19]:
reportsto[~reportsto[REPORTS_TO_ID].str.isnumeric()]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>ReportsToID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>45</th>
      <td>46</td>
      <td>technical email account - not used by employees</td>
    </tr>
    <tr>
      <th>50</th>
      <td>51</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>74</th>
      <td>75</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>86</th>
      <td>87</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>92</th>
      <td>93</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>110</th>
      <td>111</td>
      <td>former employee account</td>
    </tr>
    <tr>
      <th>138</th>
      <td>139</td>
      <td>former employee account</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
communication, reportsto = remove_former_employee_and_technical_accounts(communication, reportsto)

/Users/mateusz/Documents/PyCharmProjects/organizational-structure-detection/manufacturing_company/src/features/data_cleaning.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  reportsto_processed[REPORTS_TO_ID] = pd.to_numeric(reportsto_processed[REPORTS_TO_ID])

In [ ]:
communication[communication[SENDER] == communication[RECIPIENT]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>EventDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2796</th>
      <td>12</td>
      <td>12</td>
      <td>2010-01-09 18:33:29</td>
    </tr>
    <tr>
      <th>2819</th>
      <td>12</td>
      <td>12</td>
      <td>2010-01-09 23:51:17</td>
    </tr>
    <tr>
      <th>7591</th>
      <td>12</td>
      <td>12</td>
      <td>2010-01-25 11:16:18</td>
    </tr>
    <tr>
      <th>21354</th>
      <td>12</td>
      <td>12</td>
      <td>2010-03-03 11:01:15</td>
    </tr>
    <tr>
      <th>21409</th>
      <td>12</td>
      <td>12</td>
      <td>2010-03-03 12:32:46</td>
    </tr>
    <tr>
      <th>22373</th>
      <td>12</td>
      <td>12</td>
      <td>2010-03-07 15:55:22</td>
    </tr>
    <tr>
      <th>28106</th>
      <td>12</td>
      <td>12</td>
      <td>2010-03-25 06:37:07</td>
    </tr>
    <tr>
      <th>35500</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 00:07:13</td>
    </tr>
    <tr>
      <th>35507</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 02:17:13</td>
    </tr>
    <tr>
      <th>35513</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 04:36:29</td>
    </tr>
    <tr>
      <th>35534</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 06:20:57</td>
    </tr>
    <tr>
      <th>35583</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 07:33:30</td>
    </tr>
    <tr>
      <th>35598</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 08:09:47</td>
    </tr>
    <tr>
      <th>35656</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 09:01:12</td>
    </tr>
    <tr>
      <th>35705</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 09:38:22</td>
    </tr>
    <tr>
      <th>35788</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 10:52:46</td>
    </tr>
    <tr>
      <th>35903</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 12:28:11</td>
    </tr>
    <tr>
      <th>35939</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 13:10:58</td>
    </tr>
    <tr>
      <th>36067</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 15:26:54</td>
    </tr>
    <tr>
      <th>36078</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 16:02:45</td>
    </tr>
    <tr>
      <th>36086</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-20 17:03:18</td>
    </tr>
    <tr>
      <th>38547</th>
      <td>12</td>
      <td>12</td>
      <td>2010-04-29 09:55:34</td>
    </tr>
    <tr>
      <th>39102</th>
      <td>12</td>
      <td>12</td>
      <td>2010-05-03 19:35:09</td>
    </tr>
    <tr>
      <th>39808</th>
      <td>12</td>
      <td>12</td>
      <td>2010-05-06 00:41:24</td>
    </tr>
    <tr>
      <th>40213</th>
      <td>12</td>
      <td>12</td>
      <td>2010-05-06 18:09:23</td>
    </tr>
    <tr>
      <th>48037</th>
      <td>12</td>
      <td>12</td>
      <td>2010-06-03 16:29:40</td>
    </tr>
    <tr>
      <th>58411</th>
      <td>12</td>
      <td>12</td>
      <td>2010-07-08 17:15:31</td>
    </tr>
    <tr>
      <th>60395</th>
      <td>12</td>
      <td>12</td>
      <td>2010-07-18 22:44:26</td>
    </tr>
    <tr>
      <th>61420</th>
      <td>12</td>
      <td>12</td>
      <td>2010-07-21 17:03:09</td>
    </tr>
    <tr>
      <th>75230</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-09 12:20:44</td>
    </tr>
    <tr>
      <th>75373</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-09 18:16:34</td>
    </tr>
    <tr>
      <th>75392</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-09 22:02:42</td>
    </tr>
    <tr>
      <th>75393</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-09 22:58:55</td>
    </tr>
    <tr>
      <th>75398</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-09 23:44:11</td>
    </tr>
    <tr>
      <th>75401</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-10 00:35:22</td>
    </tr>
    <tr>
      <th>76618</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-14 13:24:24</td>
    </tr>
    <tr>
      <th>76666</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-15 01:02:22</td>
    </tr>
    <tr>
      <th>78072</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-18 13:29:56</td>
    </tr>
    <tr>
      <th>78081</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-18 14:19:24</td>
    </tr>
    <tr>
      <th>78087</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-18 15:32:58</td>
    </tr>
    <tr>
      <th>78093</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-18 16:11:53</td>
    </tr>
    <tr>
      <th>78112</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-18 18:08:15</td>
    </tr>
    <tr>
      <th>78117</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-18 18:47:35</td>
    </tr>
    <tr>
      <th>78129</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-18 20:01:26</td>
    </tr>
    <tr>
      <th>78163</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-19 01:04:11</td>
    </tr>
    <tr>
      <th>78167</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-19 02:17:42</td>
    </tr>
    <tr>
      <th>79685</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-22 17:01:38</td>
    </tr>
    <tr>
      <th>79691</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-22 17:21:52</td>
    </tr>
    <tr>
      <th>79703</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-22 19:02:30</td>
    </tr>
    <tr>
      <th>82373</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-30 00:06:40</td>
    </tr>
    <tr>
      <th>82388</th>
      <td>12</td>
      <td>12</td>
      <td>2010-09-30 06:22:03</td>
    </tr>
  </tbody>
</table>
</div>

In [22]:
communication, reportsto = remove_messges_sent_to_yourself(communication, reportsto)