In [1]:
# IMPORTS
from manufacturing_company.src.common.const import *
from manufacturing_company.src.network.social_network import *

In [2]:
# CALCULATE NETWORK MEASURES
for i in range(1, SIZE + 1):
    df = pd.read_csv('manufacturing_company/data/intermediate/03_minimum_activity/' + str(i) + '_months_communication.csv', sep=';')
    df = calculate_weights(df)
    G = create_network(df)
    df = pd.read_csv('manufacturing_company/data/intermediate/03_minimum_activity/' + str(i) + '_months_communication.csv', sep=';', parse_dates=[EVENT_DATE])
    # df = calculate_network_measures(G)
    # df.to_csv('manufacturing_company/data/intermediate/'
    #                  '04_networks/' + str(i) + '_months_network.csv', sep=';', index=False)

In [3]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>EventDate</th>
      <th>month</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>17</td>
      <td>37</td>
      <td>2010-01-02 17:40:10</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>136</td>
      <td>2010-01-02 17:40:10</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>17</td>
      <td>62</td>
      <td>2010-01-02 17:40:10</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>17</td>
      <td>129</td>
      <td>2010-01-02 17:40:10</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17</td>
      <td>32</td>
      <td>2010-01-02 17:40:10</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
from manufacturing_company.src.features.neighborhood_variability import *

In [5]:
xx = calculate_neighborhood_variability(df, G)

In [6]:
xx

({3: 0.36925371420151165,
  5: 1.0,
  8: 0.5232698467169985,
  9: 1.0,
  11: 0.4364501340604282,
  13: 0.5530001188749436,
  14: 0.4890848869538801,
  15: 0.41889880952380953,
  16: 0.388248556998557,
  17: 0.5480181240293778,
  18: 0.34431368627835096,
  19: 0.5161554268171915,
  22: 0.3074684601745772,
  27: 0.4960811008637096,
  28: 0.24981203007518796,
  30: 0.6504329004329005,
  32: 0.5140577651515151,
  33: 0.5049364576519042,
  34: 0.15714584079245733,
  35: 0.6417843747835406,
  36: 0.5985513549552537,
  37: 0.41423380251505254,
  39: 0.4900252091414625,
  40: 1.0,
  41: 0.6558999936467043,
  42: 0.18469387755102037,
  44: 0.2424422799422799,
  45: 0.4934902610278218,
  47: 0.4263397668379493,
  50: 0.4047371832981858,
  52: 0.5835348224985001,
  54: 0.4423016604266604,
  55: 0.41527914813147193,
  56: 0.36616145403509537,
  57: 0.3610963312050269,
  58: 0.34338920479152174,
  60: 0.5972612140015158,
  61: 0.30727095485160005,
  62: 0.5723473575036075,
  63: 0.35446428571428573,
  64: 0.39918786959228136,
  65: 0.5359343203093203,
  66: 0.24380411255411255,
  67: 0.32485878522062733,
  68: 1.0,
  69: 0.5366640406162465,
  70: 1.0,
  72: 0.35169331621537503,
  73: 0.3787568306010929,
  74: 0.6009154040404041,
  76: 1.0,
  77: 0.4460832861724203,
  78: 0.3880228492701718,
  80: 0.4994795044137149,
  81: 0.6410523748753154,
  82: 0.49656663801884393,
  83: 0.4769136906413692,
  84: 0.44794996669996673,
  85: 0.5576402836110795,
  86: 0.49435106761193714,
  88: 0.3483630952380952,
  89: 0.2722651515151515,
  90: 0.6650192939670163,
  91: 0.30759032634032635,
  92: 0.428125,
  94: 0.2976599425440151,
  95: 0.40735141992732127,
  96: 0.7857142857142857,
  97: 0.5070300229385794,
  98: 0.4655622031421265,
  99: 0.8571428571428571,
  101: 0.27203932709447415,
  102: 0.4138689028882994,
  103: 0.6406940824344549,
  104: 0.2942176870748299,
  105: 0.37342774487617764,
  107: 0.46979422198172194,
  108: 0.12668219461697722,
  109: 0.10416666666666667,
  110: 0.4568156124005667,
  112: 0.5423876058227082,
  113: 0.320207182523359,
  114: 1.0,
  116: 0.3704004329004329,
  117: 0.5029886726593957,
  118: 0.7002713761579296,
  119: 0.4849346255596256,
  121: 0.42716764675078245,
  122: 1.0,
  123: 0.5378787878787878,
  124: 0.23958333333333331,
  125: 0.3098214285714286,
  126: 0.3932999177932042,
  127: 0.5099161255411255,
  128: 0.5472549820317254,
  129: 0.6016988340765514,
  130: 0.33110431691403386,
  131: 1.0,
  132: 0.3493182372316612,
  133: 0.5987191400122758,
  134: 0.05,
  135: 0.49833650886282466,
  136: 0.621223831821658,
  137: 0.40772907647907647,
  140: 0.30069444444444443,
  141: 0.5367628971541542,
  142: 0.6115079365079366,
  143: 0.3997699155049428,
  144: 0.4195075757575757,
  145: 0.2303453947368421,
  146: 0.34431818181818186,
  147: 0.11904761904761904,
  148: 0.4898904662712802,
  149: 0.17132936507936508,
  150: 0.356505753973136,
  151: 0.18113425925925924,
  152: 0.5387672972591451,
  153: 0.4517463235294118,
  154: 0.3970373376623376,
  155: 0.38602644087938204,
  156: 0.41509489719641524,
  157: 0.2800925925925926,
  158: 0.5972222222222222,
  161: 0.6324407506837847,
  162: 0.4947871572871572,
  163: 0.5117865603599299,
  164: 0.12261579495186054,
  165: 0.24027777777777776,
  166: 0.5673269331614703},
 {2: 0.06805555555555555,
  3: 0.3977106013045705,
  8: 0.4656939918026798,
  11: 0.5344487344487345,
  13: 0.5081857263107263,
  14: 0.4467178218107852,
  15: 0.38938492063492064,
  16: 0.3749771062271062,
  17: 0.4889657748327765,
  18: 0.28874536411301116,
  19: 0.5328645347027701,
  22: 0.29861586107311144,
  25: 0.0,
  27: 0.5733018543956043,
  28: 0.26091269841269843,
  29: 0,
  30: 0.6418128594113082,
  31: 0,
  32: 0.3527070067401875,
  33: 0.4548913043478261,
  34: 0.15940170940170942,
  35: 0.6266113575919611,
  36: 0.5279204958892458,
  37: 0.39886738602918437,
  39: 0.47939643156036177,
  41: 0.6619334795321636,
  42: 0.13219954648526078,
  44: 0.2749599358974359,
  45: 0.43901915740731534,
  47: 0.3948049698049698,
  48: 0.04897959183673469,
  50: 0.49474545062780356,
  52: 0.5157848369372655,
  54: 0.49212385462385466,
  55: 0.4389452741661718,
  56: 0.39364861853832445,
  57: 0.4136418469912509,
  58: 0.35516889650597083,
  59: 0,
  60: 0.5105119585852538,
  61: 0.3273389496927803,
  62: 0.51359619647797,
  63: 0.4628645047762695,
  64: 0.4400464731347084,
  65: 0.47324850580718497,
  66: 0.32255979314802846,
  67: 0.42646933229813666,
  68: 0,
  69: 0.569243159568237,
  72: 0.33576447848744323,
  73: 0.19178687008784095,
  74: 0.6009469696969697,
  77: 0.46904990842490846,
  78: 0.4040262074808221,
  79: 0.0,
  80: 0.5783569714731756,
  81: 0.6276356033364043,
  82: 0.4742238562091503,
  83: 0.5035583469087306,
  84: 0.4520833333333334,
  85: 0.5848496596972206,
  86: 0.6084552042160738,
  88: 0.3863727877514642,
  89: 0.22586773057040047,
  90: 0.6453193150025995,
  91: 0.2706349206349206,
  92: 0.4367519735166794,
  94: 0.30676664827406375,
  95: 0.42707843161494113,
  97: 0.5540206928960332,
  98: 0.45857381588999235,
  100: 0,
  101: 0.2392203282828283,
  102: 0.4429632606043896,
  103: 0.5316033423087076,
  104: 0.2298611111111111,
  105: 0.3712271188068962,
  106: 0,
  107: 0.48341340016214274,
  108: 0.12984655459949823,
  109: 0.09226190476190477,
  110: 0.510357926065163,
  112: 0.5318022000466853,
  113: 0.3560326412493595,
  116: 0.3369429181929182,
  117: 0.457888658720312,
  118: 0.4859063606157751,
  119: 0.47935921192433417,
  121: 0.4535657160951713,
  123: 0.4896271008403361,
  124: 0.4056547619047619,
  125: 0.27182539682539686,
  126: 0.4151130437775259,
  127: 0.5886814574314574,
  128: 0.49294358120971027,
  129: 0.6011721611721612,
  130: 0.32040649165649165,
  132: 0.44031601660344855,
  133: 0.5174608031707175,
  134: 0.4241071428571428,
  135: 0.43250565044043304,
  136: 0.6443501897543154,
  137: 0.35064573906485674,
  140: 0.24131944444444442,
  141: 0.5737516869095816,
  142: 0.5740259740259741,
  143: 0.4130245166555151,
  144: 0.399156746031746,
  145: 0.038888888888888896,
  146: 0.2844426406926407,
  147: 0.15494505494505495,
  148: 0.6016216618524892,
  149: 0.2856737012987013,
  150: 0.32767319177392873,
  151: 0.05998763141620284,
  152: 0.5627032206875557,
  153: 0.38566701680672266,
  154: 0.419896635236856,
  155: 0.4085858135145991,
  156: 0.38679590134866754,
  157: 0.42708333333333326,
  158: 0.5361742424242424,
  159: 0.0,
  161: 0.661267089127501,
  162: 0.4761523199023199,
  163: 0.5001962316645846,
  164: 0.07116596638655462,
  165: 0.23444940476190476,
  166: 0.579304520567092},
 {2: 0.06805555555555555,
  3: 0.40522534980700303,
  5: 1.0,
  8: 0.5332414690132976,
  9: 1.0,
  11: 0.521874469283006,
  13: 0.5763431013431013,
  14: 0.4849629054520359,
  15: 0.38938492063492064,
  16: 0.3881982600732601,
  17: 0.5495855195176075,
  18: 0.32594055105914066,
  19: 0.5411706349206349,
  22: 0.32655295354763436,
  25: 0.0,
  27: 0.5019230769230769,
  28: 0.3236607142857143,
  29: 0,
  30: 0.6441119081114092,
  31: 0,
  32: 0.48386217244912894,
  33: 0.4926656189838772,
  34: 0.19934653209109732,
  35: 0.6373945020496745,
  36: 0.6089510750561494,
  37: 0.4312999838914473,
  39: 0.5118910071615399,
  40: 1.0,
  41: 0.6723958333333333,
  42: 0.2072562358276644,
  44: 0.2638146167557932,
  45: 0.48416293537617067,
  47: 0.4450504242922202,
  48: 0.04897959183673469,
  50: 0.49480743714489844,
  52: 0.5648199059140808,
  54: 0.5172991238780713,
  55: 0.43161903772040966,
  56: 0.4153092269516502,
  57: 0.40423248626373626,
  58: 0.4124056967284521,
  59: 0,
  60: 0.5534072181323022,
  61: 0.3613393373319844,
  62: 0.5743769852438583,
  63: 0.4696637426900585,
  64: 0.43613511235215086,
  65: 0.5359363083153406,
  66: 0.31998148909913615,
  67: 0.43353317757308873,
  68: 0.8333333333333334,
  69: 0.5781299840510367,
  70: 1.0,
  72: 0.3558970965553263,
  73: 0.1990359094457455,
  74: 0.5998106060606061,
  76: 1.0,
  77: 0.4586169878508588,
  78: 0.445344767080573,
  79: 0.0,
  80: 0.5791685218578626,
  81: 0.6604882051218257,
  82: 0.5238013742699771,
  83: 0.5054419285934626,
  84: 0.4408653846153846,
  85: 0.6089406129584701,
  86: 0.5548751441931364,
  88: 0.4607527480689245,
  89: 0.26775807525807527,
  90: 0.6527406991357573,
  91: 0.2961309523809524,
  92: 0.4313340168603327,
  94: 0.3057133579562496,
  95: 0.4472704671637309,
  96: 0.7857142857142857,
  97: 0.5733054624819035,
  98: 0.46678757291840456,
  99: 0.8571428571428571,
  100: 0,
  101: 0.29429871901469384,
  102: 0.4600309542805392,
  103: 0.650677353071864,
  104: 0.2254807692307692,
  105: 0.3713843599033816,
  106: 0,
  107: 0.48821947769716534,
  108: 0.16419234568951663,
  109: 0.14512471655328799,
  110: 0.5091409462176684,
  112: 0.5325326337521789,
  113: 0.3723307952797117,
  114: 1.0,
  116: 0.32563070099834807,
  117: 0.4975666848297296,
  118: 0.7025845831843384,
  119: 0.474936415030781,
  121: 0.47569135087275566,
  122: 1.0,
  123: 0.49327293417366946,
  124: 0.37663690476190476,
  125: 0.2928571428571428,
  126: 0.4294398174289479,
  127: 0.5934433621933622,
  128: 0.5948717281431735,
  129: 0.5783708475332747,
  130: 0.3759014939580185,
  131: 1.0,
  132: 0.3715450259815273,
  133: 0.5980670600462964,
  134: 0.4241071428571428,
  135: 0.5088261144714051,
  136: 0.6532489349655357,
  137: 0.34239175346712114,
  140: 0.24981060606060604,
  141: 0.6060606107586629,
  142: 0.5470598845598846,
  143: 0.4030808952088444,
  144: 0.3942137723387723,
  145: 0.21594794094794095,
  146: 0.30833333333333335,
  147: 0.1332819957819958,
  148: 0.6179068815944879,
  149: 0.30729617604617604,
  150: 0.3587572389296527,
  151: 0.14461184629251855,
  152: 0.5699644796248224,
  153: 0.45734180035650623,
  154: 0.41324826016776484,
  155: 0.4100841714784743,
  156: 0.44230773595155426,
  157: 0.41751893939393936,
  158: 0.5321678321678321,
  159: 0.0,
  161: 0.664699074074074,
  162: 0.46915076506311026,
  163: 0.5974810150011762,
  164: 0.12872601585932042,
  165: 0.2409090909090909,
  166: 0.5783615793878527})

In [7]:
yy = fill_missing_neighbors(G, pd.DataFrame(xx))

In [8]:
yy.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Recipient</th>
    </tr>
    <tr>
      <th>Sender</th>
      <th>EventDate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">3</th>
      <th>1</th>
      <td>[False, False, False, True, False, False, Fals...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>[False, False, False, False, False, False, Fal...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[False, False, True, False, True, False, False...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>[False, False, True, False, True, False, False...</td>
    </tr>
    <tr>
      <th>5</th>
      <td>[False, False, False, False, False, False, Fal...</td>
    </tr>
  </tbody>
</table>
</div>

In [171]:
idx = pd.IndexSlice
z = pd.DataFrame(xx).copy()
z.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Recipient</th>
    </tr>
    <tr>
      <th>Sender</th>
      <th>EventDate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">3</th>
      <th>1</th>
      <td>[83, 62, 90, 144, 13, 152, 73, 45, 82, 78, 8, ...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>[132, 83, 107, 39, 152, 82, 117, 90, 166, 128,...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[82, 73, 69, 33, 136, 90, 143, 133, 137, 152, ...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>[133, 132, 136, 36, 143, 152, 69, 137, 90, 141...</td>
    </tr>
    <tr>
      <th>5</th>
      <td>[82, 152, 128, 132, 118, 166, 103]</td>
    </tr>
  </tbody>
</table>
</div>

In [172]:
all_employees = pd.Series(G.nodes)

In [177]:
z.apply(lambda x: all_employees.isin(x[0]).tolist(), axis=1)

Sender  EventDate
3       1            [False, False, False, True, False, False, Fals...
        2            [False, False, False, False, False, False, Fal...
        3            [False, False, True, False, True, False, False...
        4            [False, False, True, False, True, False, False...
        5            [False, False, False, False, False, False, Fal...
        6            [False, False, False, False, False, False, Fal...
        7            [False, False, False, False, False, False, Fal...
        8            [False, False, False, True, False, False, Fals...
        9            [False, False, False, False, False, False, Fal...
5       1            [False, False, False, False, False, False, Fal...
        3            [False, False, False, False, False, False, Fal...
        4            [False, False, False, False, False, False, Fal...
        5            [False, False, False, False, False, False, Fal...
        6            [False, False, False, False, False, False, Fal...
        7            [False, False, False, False, False, False, Fal...
        8            [False, False, False, False, False, False, Fal...
        9            [False, False, False, False, False, False, Fal...
8       1            [False, True, False, True, False, False, True,...
        2            [True, False, True, True, False, False, False,...
        3            [True, False, True, True, False, False, False,...
        4            [False, False, True, True, False, False, True,...
        5            [False, False, False, True, False, False, Fals...
        6            [False, True, True, True, False, False, False,...
        7            [False, True, True, True, False, False, False,...
        8            [True, True, False, True, False, False, True, ...
        9            [False, False, False, False, False, False, Fal...
9       1            [False, False, False, False, False, False, Fal...
        3            [False, False, False, False, False, False, Fal...
        4            [False, False, False, False, False, False, Fal...
        5            [False, False, False, False, False, False, Fal...
                                           ...
163     7            [False, True, True, False, True, False, False,...
        8            [False, False, False, False, True, False, Fals...
        9            [False, False, False, False, False, False, Fal...
164     1            [False, False, True, False, False, False, True...
        2            [True, False, True, False, False, False, False...
        3            [False, False, False, False, False, False, Fal...
        4            [True, True, True, True, True, True, True, Tru...
        5            [False, False, False, False, False, False, Fal...
        6            [False, False, False, False, False, False, Fal...
        7            [False, False, True, False, False, False, Fals...
        8            [False, False, False, False, False, False, Fal...
        9            [False, False, False, False, False, False, Fal...
165     1            [False, False, False, False, False, False, Tru...
        2            [True, False, True, False, False, False, False...
        3            [False, False, False, False, False, False, Fal...
        4            [False, False, True, False, False, False, Fals...
        5            [False, False, False, False, False, False, Fal...
        6            [False, False, False, False, False, False, Fal...
        7            [False, False, False, False, False, False, Fal...
        8            [False, False, False, False, False, False, Fal...
        9            [False, False, False, False, False, False, Fal...
166     1            [True, False, True, False, False, False, False...
        2            [False, False, True, False, False, False, Fals...
        3            [True, False, True, False, False, True, False,...
        4            [False, False, True, False, False, False, Fals...
        5            [True, False, True, False, False, True, False,...
        6            [True, False, True, True, False, True, True, T...
        7            [True, False, True, False, False, False, True,...
        8            [False, False, True, False, False, False, True...
        9            [True, False, True, False, False, False, True,...
Length: 1118, dtype: object

In [169]:
communication = dict()
for index, row in z.iterrows():
    employee_id = index[0]
    if employee_id not in communication:
        communication[employee_id] = []
    # tmp = []
    # for i in row[0]:
    #     print(type(i))
    #     print(i)
    row = all_employees.isin(row[0])
    communication[employee_id].append(row)
    # print(type(row.tolist()))
    # print(type(list([1,2,3])))
    break

In [120]:
all_employees.isin([86, 17, 1000])

0       True
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
Length: 139, dtype: bool

In [7]:
rd1 = pd.DataFrame({'id': [1,1,1,2,3,3], 'month': [1,2,3,2,1,3], 'msg': [[True,False,True], [True,True,True], [False,True,False], [False,True,True], 
                                                                         [True,False,False], [False,False,True]]}).set_index(['id', 'month'])
rd2 = pd.DataFrame({'id': [1,2,2,3,3], 'month': [2,1,3,1,2], 'msg': [[False,True,False], [True,False,False], 
                                                                     [True,True,False], [True,True,True], [False,True,False]]}).set_index(['id', 'month'])

In [8]:
rd1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>msg</th>
    </tr>
    <tr>
      <th>id</th>
      <th>month</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">1</th>
      <th>1</th>
      <td>[True, False, True]</td>
    </tr>
    <tr>
      <th>2</th>
      <td>[True, True, True]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[False, True, False]</td>
    </tr>
    <tr>
      <th>2</th>
      <th>2</th>
      <td>[False, True, True]</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3</th>
      <th>1</th>
      <td>[True, False, False]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[False, False, True]</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
rd2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>msg</th>
    </tr>
    <tr>
      <th>id</th>
      <th>month</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <th>2</th>
      <td>[False, True, False]</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2</th>
      <th>1</th>
      <td>[True, False, False]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[True, True, False]</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3</th>
      <th>1</th>
      <td>[True, True, True]</td>
    </tr>
    <tr>
      <th>2</th>
      <td>[False, True, False]</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
rd3 = pd.merge(rd1, rd2, how='outer', on=['id', 'month']).sort_index()
rd3

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>msg_x</th>
      <th>msg_y</th>
    </tr>
    <tr>
      <th>id</th>
      <th>month</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">1</th>
      <th>1</th>
      <td>[True, False, True]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>[True, True, True]</td>
      <td>[False, True, False]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[False, True, False]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2</th>
      <th>1</th>
      <td>NaN</td>
      <td>[True, False, False]</td>
    </tr>
    <tr>
      <th>2</th>
      <td>[False, True, True]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NaN</td>
      <td>[True, True, False]</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">3</th>
      <th>1</th>
      <td>[True, False, False]</td>
      <td>[True, True, True]</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NaN</td>
      <td>[False, True, False]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[False, False, True]</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
rd4 = rd3.apply(ff, axis=1)

In [12]:
import numpy as np


def ff(row):
    if row[0] is np.NaN:
        return row[1]
    if row[1] is np.NaN:
        return row[0]
    msg_x = np.array(row[0])
    msg_y = np.array(row[1])
    return msg_x | msg_y

In [26]:
a = np.array([True, False, False])
b = np.array([True, True, False])
a|b

array([ True,  True, False])

In [14]:
i = rd4.index.get_level_values(0).unique()
i

Int64Index([1, 2, 3], dtype='int64', name='id')

In [223]:
for ii in i:
    row = rd4.loc[(ii, slice(None))]
    print(row)
    print(jaccard(row, ii))
    print('###')

id  month
1   1         [True, False, True]
    2          [True, True, True]
    3        [False, True, False]
dtype: object
0.5
###
id  month
2   1        [True, False, False]
    2         [False, True, True]
    3         [True, True, False]
dtype: object
0.16666666666666666
###
id  month
3   1          [True, True, True]
    2        [False, True, False]
    3        [False, False, True]
dtype: object
0.16666666666666666
###

In [6]:
def jaccard(rows, ii):
    if len(rows) < 2:
        return 0

    jaccard = []
    iii = rows.index.get_level_values(1).unique()

    for i in range(0, len(iii)):
        if i == len(iii) - 1:
            break
        current_set = rows.loc[(ii, iii[i])]
        next_set = rows.loc[(ii, iii[i+1])]
        jaccard.append(jaccard_score(current_set, next_set))

    return np.mean(jaccard)

In [140]:
rd3

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>msg_x</th>
      <th>msg_y</th>
    </tr>
    <tr>
      <th>id</th>
      <th>month</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">1</th>
      <th>1</th>
      <td>[True, False, True]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>[True, True, True]</td>
      <td>[False, True, False]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[False, True, False]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2</th>
      <th>1</th>
      <td>NaN</td>
      <td>[True, False, False]</td>
    </tr>
    <tr>
      <th>2</th>
      <td>[False, True, True]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NaN</td>
      <td>[True, True, False]</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">3</th>
      <th>1</th>
      <td>[True, False, False]</td>
      <td>[True, True, True]</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NaN</td>
      <td>[False, True, False]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[False, False, True]</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [194]:
from sklearn.metrics import accuracy_score
from scipy.spatial import distance
a = [86, 21]
b = [86, 4]
# print(jaccard_score(a,b, average='binary'))
print(accuracy_score(a, b))
print(jaccard_score(a, b, average='macro'))

0.5
0.3333333333333333

In [185]:
from sklearn.metrics import jaccard_similarity_score
a = [5, 5, 7]
b = [5, 5, 5]
print(jaccard_similarity_score(a,b))

0.6666666666666666

/Users/mateusz/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:635: DeprecationWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  'and multiclass classification tasks.', DeprecationWarning)

In [204]:
row = rd4.loc[(1, slice(None))]

In [217]:
len(row)

3

In [216]:
row.loc[(1, 3)]

[False, True, False]

In [6]:
df_sender = neighbors_per_month_sender(df, G)
df_recipient = neighbors_per_month_recipient(df, G)

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [7]:
pd.merge(df_sender, df_recipient, how='outer', on=[SENDER, EVENT_DATE]).sort_index()

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [6]:
df_tmp = df.groupby([SENDER, df[EVENT_DATE].dt.month])[RECIPIENT].unique()

In [7]:
df_s = pd.DataFrame(df_tmp)

In [9]:
df_s.index.names = [ID, EVENT_DATE]

In [9]:
df_sender.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Recipient</th>
      <th>Sender</th>
    </tr>
    <tr>
      <th>ID</th>
      <th>EventDate</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">2</th>
      <th>1</th>
      <td>NaN</td>
      <td>[False, False, False, False, False, False, Fal...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NaN</td>
      <td>[True, False, False, True, False, False, False...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NaN</td>
      <td>[False, False, False, False, False, False, Fal...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NaN</td>
      <td>[False, False, False, False, False, False, Fal...</td>
    </tr>
    <tr>
      <th>5</th>
      <td>NaN</td>
      <td>[False, False, False, False, False, False, Fal...</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
df_sender = neighbors_per_month_sender(df, G)
df_recipient = neighbors_per_month_recipient(df, G)
df_sender = neighbors_per_month_sender_and_recipient(df_sender, df_recipient)

In [13]:
def jaccard(rows, employee_id):
    if len(rows) < 2:
        return 0

    jaccard = []
    months = rows.index.get_level_values(0).unique()
    for month_nr in range(len(months)):
        if month_nr == len(months) - 1:
            break
        current_set = rows.loc[months[month_nr]].tolist()[0]
        next_set = rows.loc[months[month_nr+1]].tolist()[0]
        jaccard.append(jaccard_score(current_set, next_set))

    return np.mean(jaccard)

In [14]:
employee_ids = df_sender.index.get_level_values(0).unique()

neighborhood_variability = dict()

for id in employee_ids:
    row = df_sender.loc[(id, slice(None))]
    neighborhood_variability[id] = jaccard(row, id)

neighborhood_variability

{2: nan,
 3: nan,
 5: nan,
 8: nan,
 9: nan,
 11: nan,
 13: nan,
 14: nan,
 15: nan,
 16: nan,
 17: nan,
 18: nan,
 19: nan,
 22: nan,
 25: nan,
 27: nan,
 28: nan,
 29: 0,
 30: nan,
 31: 0,
 32: nan,
 33: nan,
 34: nan,
 35: nan,
 36: nan,
 37: nan,
 39: nan,
 40: nan,
 41: nan,
 42: nan,
 44: nan,
 45: nan,
 47: nan,
 48: nan,
 50: nan,
 52: nan,
 54: nan,
 55: nan,
 56: nan,
 57: nan,
 58: nan,
 59: 0,
 60: nan,
 61: nan,
 62: nan,
 63: nan,
 64: nan,
 65: nan,
 66: nan,
 67: nan,
 68: nan,
 69: nan,
 70: nan,
 72: nan,
 73: nan,
 74: nan,
 76: nan,
 77: nan,
 78: nan,
 79: nan,
 80: nan,
 81: nan,
 82: nan,
 83: nan,
 84: nan,
 85: nan,
 86: nan,
 88: nan,
 89: nan,
 90: nan,
 91: nan,
 92: nan,
 94: nan,
 95: nan,
 96: nan,
 97: nan,
 98: nan,
 99: nan,
 100: 0,
 101: nan,
 102: nan,
 103: nan,
 104: nan,
 105: nan,
 106: 0,
 107: nan,
 108: nan,
 109: nan,
 110: nan,
 112: nan,
 113: nan,
 114: nan,
 116: nan,
 117: nan,
 118: nan,
 119: nan,
 121: nan,
 122: nan,
 123: nan,
 124: nan,
 125: nan,
 126: nan,
 127: nan,
 128: nan,
 129: nan,
 130: nan,
 131: nan,
 132: nan,
 133: nan,
 134: nan,
 135: nan,
 136: nan,
 137: nan,
 140: nan,
 141: nan,
 142: nan,
 143: nan,
 144: nan,
 145: nan,
 146: nan,
 147: nan,
 148: nan,
 149: nan,
 150: nan,
 151: nan,
 152: nan,
 153: nan,
 154: nan,
 155: nan,
 156: nan,
 157: nan,
 158: nan,
 159: nan,
 161: nan,
 162: nan,
 163: nan,
 164: nan,
 165: nan,
 166: nan}

In [78]:
employee_ids = df_sender.index.get_level_values(0).unique()
row = df_sender.loc[(employee_ids[0], slice(None))]
months = row.index.get_level_values(0).unique()
row.loc[9]

Recipient    [False, False, False, False, False, False, Fal...
Name: 9, dtype: object